<form action="/ping_pong_output">
  <div class="form-group">
    <label for="userNumber">Play Ping-Pong</label>
    <input id="userNumber" name="userNumber" class="form-control" type="number">
  </div>
  <button type="sumbit" name="button">Click to play</button>
</form>
